/* =================
    Tablet Styling  
   ================= */

@media (min-width: 768px) {

	/* Charts
	========== */
	.main_traffic {
		padding-bottom: 10px;
	}

	.main_traffic_hourly_chart,
	.main_traffic_weekly_chart,
	.main_traffic_monthly_chart,
	.main_traffic_daily_chart {
		width: 100% !important;
		height: 66% !important;
	}

	.charts_and_socials_flexbox {
		display: flex;
		justify-content: space-around;
	}

	.daily_and_mobile_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 80%;
	}

	.daily_traffic_chart,
	.mobile_users_chart {
		width: 100% !important;
	}

	/* Socials
	=========== */

	.social_stats {
		width: 280px;

		.section_title {
			margin-top: 20px;
			margin-bottom: 30px;
		}
	}

	.social {
		margin-top: 12px;
		margin-bottom: 12px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	}

	/* New Members, Recent Activity, and Message User
	================================================== */

	.new_members_and_recent_activity {
		display: flex;
		justify-content: space-between;
		border-top: solid black 1px;
	}

	.new_members {
		min-width: 320px;
	}

	.mobile_users,
	.social_stats {
		border-bottom: none;
	}

	.message_space {
		height: 81px;
	}
}



/* =================
    Desktop Styling  
   ================= */

@media (min-width: 1025px) {

	/* Header Area and Sidebar
	=========================== */
	
	header h1 {
		flex-grow: 1.5;
		font-size: 1.5em;
		font-weight: normal;
		color: white;
		margin-top: 5px;
		margin-left: 5px;
	}

	.your {
		font-weight: bold;
	}

	.bell_div {
		margin-right: 20px;
	}

	.profile_avatar {
		margin-right: 20px;
	}

	.sidebar_and_main_content {
		display: flex;
	}

	.sidebar {
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 15px;
	}

	.main_content_wrapper {
		width: 100%;
	}

	.title_and_search_bar {
		background-color: white;
		padding-left: 30px;
		padding-right: 32px;
		margin-bottom: 15px;

		h2 {
			padding-top: 12px;
		}
	}

	.search_form {
		width: 85%;
		background-color: #F1F1F1;
		max-width: 100%;
		padding-left: 50%;
	}

	.search_bar {
		width: 95%;
		padding-left: 10px;
	}


	/* Charts
	========== */

	.main_traffic_header {
		display: flex;
		justify-content: space-between;
	}

	.main_traffic_header ul {
		margin-top: 10px;
		width: 330px;
		min-width: 100px;
	}

	.main_traffic_hourly_chart,
	.main_traffic_weekly_chart,
	.main_traffic_monthly_chart,
	.main_traffic_daily_chart {
		width: 100% !important;
		height: 66% !important;
		margin-left: -20px;
	}

	.charts_and_socials_flexbox {
		display: inherit;
	}

	.daily_and_mobile_wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.daily_traffic {
		width: 50%;
		height: 100%;
		border-bottom: none;
		border-right: solid 1px black;
	}

	.daily_traffic_chart {
		width: 100% !important;
	}

	.mobile_users {
		width: 50%;
	}

	.mobile_users_chart {
		width: 100% !important;
		height: 75% !important;
	}

	/* Socials
	=========== */

	.social_stats {
		width: 100%;
		border-top: solid 1px black;
	}

	.social_stats_container {
		display: flex;
		flex-wrap: wrap;
	}

	.social {
		width: 210px;
		margin-left: 5px;
		margin-right: 5px;
		padding-right: 0;
	}

	.social_text {
		max-width: 60%;
	}

	/* New Members and Recent Activity
	=================================== */

	.new_members {
		width: 50%;
		border-right: solid 1px black;
		padding-left: 10px;
	}

	.member {
		margin-right: 15px;
	}

	.member:first-of-type {
		border-top: solid 1px #C9C9C9;
		padding-top: 5px;
	}

	.name_and_email {
		width: 80%;

		table {
			width: 100%;
		}
	}

	.recent_activity {
		width: 50%;
		padding-left: 10px;
	}



	/* Message User and Settings
	============================= */

	.message_and_settings {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.message_user {
		width: 50%;
		border-bottom: none;
		border-right: solid 1px black;
		padding-right: 2%;

			.section_title {
				margin-bottom: 30px;
			}
	}

	.message_search_bar {
		height: 30px;
	}

	.choose_div {
		top: 100px;
		width: 96%;
		margin-bottom: 20px;
	}

	.settings {
		width: 48%;
		padding-right: 1%;
	}


}